---
import TopBar from "../components/top-bar/top-bar.astro";
import Layout from "../layouts/layout.astro";

//
---

<Layout>
	<TopBar />

	<dialog open class="modal">
		<div class='k"'>1</div>
	</dialog>
</Layout>
